# <span style="color:teal;">CIS 211 Project 7:  SQLite</span>

##### Due 11:00 P.M. Tuesday May 30

##### <span style="color:red">Group Members:</span>

For this project students are allowed to work in small groups (maximum group size: 3). 

Only one member of the group should submit the completed notebook.  All group members will receive the same score on the project.

Edit this cell to include the name and DuckID for each member of the group (leave the cell blank if you worked on the project by yourself).

**Name:Ben Ludwin-951510335**

**Name:Adi Mehta-951488553**

**Name:Tyler Millan-951518041**

This project will give you some experience writing database queries in SQL and connecting to a SQLite database from Python.

### <span style="color:teal">Setup</span>

Download the Sakila database (the file named `sakila211.db`) and move it to the same folder as this IPython notebook.

### <span style="color:teal">Executing Queries in an IPython Notebook</span>

To solve the problems in the first two sections of this project you need to write a SQL query based on the tables in the Sakila211 database.  

To execute a query from an IPython Notebook write the query in quotes as part of a shell command:
```
! sqlite3 sakila211.db "..."
```

For example, to answer the question "What are the names and ratings of the films" your code cell would have
```
! sqlite3 sakila211.db "select title, rating from film"
```

Some of the queries will produce a lot of output.  You can add a `LIMIT` clause to any query if you want to reduce the size of the output.

**Note:** &nbsp; Your grade will not depend on the output format.  If want to have a nicer looking output that includes column headers create a file named `.sqliterc` in your home folder and add these two lines:
```
.header on
.mode column
```

## <span style="color:teal">Part 1:  &nbsp; Queries</span>

The following questions can all be answered using records from a single table.

(1) What are the first and last names of all the customers?

In [189]:
! sqlite3 sakila211.db "select first_name, last_name from customer"

Mary|Smith
Patricia|Johnson
Linda|Williams
Barbara|Jones
Elizabeth|Brown
Jennifer|Davis
Maria|Miller
Susan|Wilson
Margaret|Moore
Dorothy|Taylor
Lisa|Anderson
Nancy|Thomas
Karen|Jackson
Betty|White
Helen|Harris
Sandra|Martin
Donna|Thompson
Carol|Garcia
Ruth|Martinez
Sharon|Robinson
Michelle|Clark
Laura|Rodriguez
Sarah|Lewis
Kimberly|Lee
Deborah|Walker
Jessica|Hall
Shirley|Allen
Cynthia|Young
Angela|Hernandez
Melissa|King
Brenda|Wright
Amy|Lopez
Anna|Hill
Rebecca|Scott
Virginia|Green
Kathleen|Adams
Pamela|Baker
Martha|Gonzalez
Debra|Nelson
Amanda|Carter
Stephanie|Mitchell
Carolyn|Perez
Christine|Roberts
Marie|Turner
Janet|Phillips
Catherine|Campbell
Frances|Parker
Ann|Evans
Joyce|Edwards
Diane|Collins
Alice|Stewart
Julie|Sanchez
Heather|Morris
Teresa|Rogers
Doris|Reed
Gloria|Cook
Evelyn|Morgan
Jean|Bell
Cheryl|Murphy
Mildred|Bailey
Katherine|Rivera
Joan|Cooper
Ashley|Richardson
Judith|Cox
Rose|Howard
Janice|Ward
Kelly|Torres
Nicole|Peterson
Judy|Gray
Christina|Ramirez
Kathy|James
Theresa|Watson
Beverly|Brooks
Denise|Kelly
Tammy|Sanders
Irene|Price
Jane|Bennett
Lori|Wood
Rachel|Barnes
Marilyn|Ross
Andrea|Henderson
Kathryn|Coleman
Louise|Jenkins
Sara|Perry
Anne|Powell
Jacqueline|Long
Wanda|Patterson
Bonnie|Hughes
Julia|Flores
Ruby|Washington
Lois|Butler
Tina|Simmons
Phyllis|Foster
Norma|Gonzales
Paula|Bryant
Diana|Alexander
Annie|Russell
Lillian|Griffin
Emily|Diaz
Robin|Hayes
Peggy|Myers
Crystal|Ford
Gladys|Hamilton
Rita|Graham
Dawn|Sullivan
Connie|Wallace
Florence|Woods
Tracy|Cole
Edna|West
Tiffany|Jordan
Carmen|Owens
Rosa|Reynolds
Cindy|Fisher
Grace|Ellis
Wendy|Harrison
Victoria|Gibson
Edith|Mcdonald
Kim|Cruz
Sherry|Marshall
Sylvia|Ortiz
Josephine|Gomez
Thelma|Murray
Shannon|Freeman
Sheila|Wells
Ethel|Webb
Ellen|Simpson
Elaine|Stevens
Marjorie|Tucker
Carrie|Porter
Charlotte|Hunter
Monica|Hicks
Esther|Crawford
Pauline|Henry
Emma|Boyd
Juanita|Mason
Anita|Morales
Rhonda|Kennedy
Hazel|Warren
Amber|Dixon
Eva|Ramos
Debbie|Reyes
April|Burns
Leslie|Gordon
Clara|Shaw
Lucille|Holmes
Jamie|Rice
Joanne|Robertson
Eleanor|Hunt
Valerie|Black
Danielle|Daniels
Megan|Palmer
Alicia|Mills
Suzanne|Nichols
Michele|Grant
Gail|Knight
Bertha|Ferguson
Darlene|Rose
Veronica|Stone
Jill|Hawkins
Erin|Dunn
Geraldine|Perkins
Lauren|Hudson
Cathy|Spencer
Joann|Gardner
Lorraine|Stephens
Lynn|Payne
Sally|Pierce
Regina|Berry
Erica|Matthews
Beatrice|Arnold
Dolores|Wagner
Bernice|Willis
Audrey|Ray
Yvonne|Watkins
Annette|Olson
June|Carroll
Samantha|Duncan
Marion|Snyder
Dana|Hart
Stacy|Cunningham
Ana|Bradley
Renee|Lane
Ida|Andrews
Vivian|Ruiz
Roberta|Harper
Holly|Fox
Brittany|Riley
Melanie|Armstrong
Loretta|Carpenter
Yolanda|Weaver
Jeanette|Greene
Laurie|Lawrence
Katie|Elliott
Kristen|Chavez
Vanessa|Sims
Alma|Austin
Sue|Peters
Elsie|Kelley
Beth|Franklin
Jeanne|Lawson
Vicki|Fields
Carla|Gutierrez
Tara|Ryan
Rosemary|Schmidt
Eileen|Carr
Terri|Vasquez
Gertrude|Castillo
Lucy|Wheeler
Tonya|Chapman
Ella|Oliver
Stacey|Montgomery
Wilma|Richards
Gina|Williamson
Kristin|Johnston
Jessie|Banks
Natalie|Meyer
Agnes|Bishop
Vera|Mccoy
Willie|Howell
Charlene|Alvarez
Bessie|Morrison
Delores|Hansen
Melinda|Fernandez
Pearl|Garza
Arlene|Harvey
Maureen|Little
Colleen|Burton
Allison|Stanley
Tamara|Nguyen
Joy|George
Georgia|Jacobs
Constance|Reid
Lillie|Kim
Claudia|Fuller
Jackie|Lynch
Marcia|Dean
Tanya|Gilbert
Nellie|Garrett
Minnie|Romero
Marlene|Welch
Heidi|Larson
Glenda|Frazier
Lydia|Burke
Viola|Hanson
Courtney|Day
Marian|Mendoza
Stella|Moreno
Caroline|Bowman
Dora|Medina
Jo|Fowler
Vickie|Brewer
Mattie|Hoffman
Terry|Carlson
Maxine|Silva
Irma|Pearson
Mabel|Holland
Marsha|Douglas
Myrtle|Fleming
Lena|Jensen
Christy|Vargas
Deanna|Byrd
Patsy|Davidson
Hilda|Hopkins
Gwendolyn|May
Jennie|Terry
Nora|Herrera
Margie|Wade
Nina|Soto
Cassandra|Walters
Leah|Curtis
Penny|Neal
Kay|Caldwell
Priscilla|Lowe
Naomi|Jennings
Carole|Barnett
Brandy|Graves
Olga|Jimenez
Billie|Horton
Dianne|Shelton
Tracey|Barrett
Leona|Obrien
Jenny|Castro
Felicia|Sutton
Sonia|Gregory
Miriam|Mckinney
Velma|Lucas
Becky|Miles
Bobbie|Craig
Violet|Rodriquez
Kristina|Chambers
Toni|Holt
Misty|Lambert
Mae|Fletcher
Shelly|Watts
Daisy|Bates
Ramona|Hale
Sherri|Rhodes
Erika|Pena
James|Gannon
John|Farnsworth
Robert|Baughman
Michael|Silverman
William|Satterfield
David|Royal
Richard|Mccrary
Charles|Kowalski
Joseph|Joy
Thomas|Grigsby
Christopher|Greco
Daniel|Cabral
Paul|Trout
Mark|Rinehart
Donald|Mahon
George|Linton
Kenneth|Gooden
Steven|Curley
Edward|Baugh
Brian|Wyman
Ronald|Weiner
Anthony|Schwab
Kevin|Schuler
Jason|Morrissey
Matthew|Mahan
Gary|Coy
Timothy|Bunn
Jose|Andrew
Larry|Thrasher
Jeffrey|Spear
Frank|Waggoner
Scott|Shelley
Eric|Robert
Stephen|Qualls
Andrew|Purdy
Raymond|Mcwhorter
Gregory|Mauldin
Joshua|Mark
Jerry|Jordon
Dennis|Gilman
Walter|Perryman
Patrick|Newsom
Peter|Menard
Harold|Martino
Douglas|Graf
Henry|Billingsley
Carl|Artis
Arthur|Simpkins
Ryan|Salisbury
Roger|Quintanilla
Joe|Gilliland
Juan|Fraley
Jack|Foust
Albert|Crouse
Jonathan|Scarborough
Justin|Ngo
Terry|Grissom
Gerald|Fultz
Keith|Rico
Samuel|Marlow
Willie|Markham
Ralph|Madrigal
Lawrence|Lawton
Nicholas|Barfield
Roy|Whiting
Benjamin|Varney
Bruce|Schwarz
Brandon|Huey
Adam|Gooch
Harry|Arce
Fred|Wheat
Wayne|Truong
Billy|Poulin
Steve|Mackenzie
Louis|Leone
Jeremy|Hurtado
Aaron|Selby
Randy|Gaither
Howard|Fortner
Eugene|Culpepper
Carlos|Coughlin
Russell|Brinson
Bobby|Boudreau
Victor|Barkley
Martin|Bales
Ernest|Stepp
Phillip|Holm
Todd|Tan
Jesse|Schilling
Craig|Morrell
Alan|Kahn
Shawn|Heaton
Clarence|Gamez
Sean|Douglass
Philip|Causey
Chris|Brothers
Johnny|Turpin
Earl|Shanks
Jimmy|Schrader
Antonio|Meek
Danny|Isom
Bryan|Hardison
Tony|Carranza
Luis|Yanez
Mike|Way
Stanley|Scroggins
Leonard|Schofield
Nathan|Runyon
Dale|Ratcliff
Manuel|Murrell
Rodney|Moeller
Curtis|Irby
Norman|Currier
Allen|Butterfield
Marvin|Yee
Vincent|Ralston
Glenn|Pullen
Jeffery|Pinson
Travis|Estep
Jeff|East
Chad|Carbone
Jacob|Lance
Lee|Hawks
Melvin|Ellington
Alfred|Casillas
Kyle|Spurlock
Francis|Sikes
Bradley|Motley
Jesus|Mccartney
Herbert|Kruger
Frederick|Isbell
Ray|Houle
Joel|Francisco
Edwin|Burk
Don|Bone
Eddie|Tomlin
Ricky|Shelby
Troy|Quigley
Randall|Neumann
Barry|Lovelace
Alexander|Fennell
Bernard|Colby
Mario|Cheatham
Leroy|Bustamante
Francisco|Skidmore
Marcus|Hidalgo
Micheal|Forman
Theodore|Culp
Clifford|Bowens
Miguel|Betancourt
Oscar|Aquino
Jay|Robb
Jim|Rea
Tom|Milner
Calvin|Martel
Alex|Gresham
Jon|Wiles
Ronnie|Ricketts
Bill|Gavin
Lloyd|Dowd
Tommy|Collazo
Leon|Bostic
Derek|Blakely
Warren|Sherrod
Darrell|Power
Jerome|Kenyon
Floyd|Gandy
Leo|Ebert
Alvin|Deloach
Tim|Cary
Wesley|Bull
Gordon|Allard
Dean|Sauer
Greg|Robins
Jorge|Olivares
Dustin|Gillette
Pedro|Chestnut
Derrick|Bourque
Dan|Paine
Lewis|Lyman
Zachary|Hite
Corey|Hauser
Herman|Devore
Maurice|Crawley
Vernon|Chapa
Roberto|Vu
Clyde|Tobias
Glen|Talbert
Hector|Poindexter
Shane|Millard
Ricardo|Meador
Sam|Mcduffie
Rick|Mattox
Lester|Kraus
Brent|Harkins
Ramon|Choate
Charlie|Bess
Tyler|Wren
Gilbert|Sledge
Gene|Sanborn
Marc|Outlaw
Reginald|Kinder
Ruben|Geary
Brett|Cornwell
Angel|Barclay
Nathaniel|Adam
Rafael|Abney
Leslie|Seward
Edgar|Rhoads
Milton|Howland
Raul|Fortier
Ben|Easter
Chester|Benner
Cecil|Vines
Duane|Tubbs
Franklin|Troutman
Andre|Rapp
Elmer|Noe
Brad|Mccurdy
Gabriel|Harder
Ron|Deluca
Mitchell|Westmoreland
Roland|South
Arnold|Havens
Harvey|Guajardo
Jared|Ely
Adrian|Clary
Karl|Seal
Cory|Meehan
Claude|Herzog
Erik|Guillen
Darryl|Ashcraft
Jamie|Waugh
Neil|Renner
Jessie|Milam
Christian|Jung
Javier|Elrod
Fernando|Churchill
Clinton|Buford
Ted|Breaux
Mathew|Bolin
Tyrone|Asher
Darren|Windham
Lonnie|Tirado
Lance|Pemberton
Cody|Nolen
Julio|Noland
Kelly|Knott
Kurt|Emmons
Allan|Cornish
Nelson|Christenson
Guy|Brownlee
Clayton|Barbee
Hugh|Waldrop
Max|Pitt
Dwayne|Olvera
Dwight|Lombardi
Armando|Gruber
Felix|Gaffney
Jimmie|Eggleston
Everett|Banda
Jordan|Archuleta
Ian|Still
Wallace|Slone
Ken|Prewitt
Bob|Pfeiffer
Jaime|Nettles
Casey|Mena
Alfredo|Mcadams
Alberto|Henning
Dave|Gardiner
Ivan|Cromwell
Johnnie|Chisholm
Sidney|Burleson
Byron|Box
Julian|Vest
Isaac|Oglesby
Morris|Mccarter
Clifton|Malcolm
Willard|Lumpkin
Daryl|Larue
Ross|Grey
Virgil|Wofford
Andy|Vanhorn
Marshall|Thorn
Salvador|Teel
Perry|Swafford
Kirk|Stclair
Sergio|Stanfield
Marion|Ocampo
Tracy|Herrmann
Seth|Hannon
Kent|Arsenault
Terrance|Roush
Rene|Mcalister
Eduardo|Hiatt
Terrence|Gunderson
Enrique|Forsythe
Freddie|Duggan
Wade|Delvalle
Austin|Cintron

(2) What are the e-mail addresses of customers whose first name is “Willard”?

In [190]:
! sqlite3 sakila211.db "select email from customer where first_name = 'Willard'"

willard.lumpkin@sakilacustomer.org

(3) How many customers are there?

In [191]:
! sqlite3 sakila211.db "select count(*) from customer"

599

(4) How many customers shop at store number 1?

In [192]:
! sqlite3 sakila211.db "select count(*) from customer where store_id = 1"

326

(5) How much does it cost to rent the film named “Virtual Spoilers”?

In [193]:
! sqlite3 sakila211.db "select rental_rate from film where title = 'Virtual Spoilers';"

4.99

(6) Do any films have the word “Princess” in the title?

In [194]:
! sqlite3 sakila211.db "select title from film where title like '%Princess%';"

Image Princess
Princess Giant

(7) What are the titles of the films that are longer than 180 minutes?

In [195]:
! sqlite3 sakila211.db "select title from film where length > 180;"

Analyze Hoosiers
Baked Cleopatra
Catch Amistad
Chicago North
Conspiracy Spirit
Control Anthem
Crystal Breaking
Darn Forrester
Frontier Cabin
Gangs Pride
Haunting Pianist
Home Pity
Hotel Happiness
Intrigue Worst
Jacket Frisco
King Evolution
Lawless Vision
Love Suicides
Monsoon Cause
Moonwalker Fool
Muscle Bright
Pond Seattle
Records Zorro
Reds Pocus
Runaway Tenenbaums
Saturn Name
Scalawag Duck
Searchers Wait
Smoochy Control
Soldiers Evolution
Sons Interview
Sorority Queen
Star Operation
Sweet Brotherhood
Theory Mermaid
Wife Turn
Wild Apollo
Worst Banger
Young Language

(8) How many films have a “G” rating and are less than 60 minutes long?

In [196]:
! sqlite3 sakila211.db "select count(*) from film where rating = 'G' and length < 60;"

21

(9) What is the maximum replacement cost for any film?

In [197]:
! sqlite3 sakila211.db "select max(replacement_cost) from film;"

29.99

(10) Print a table that lists the different types of ratings and the number of films that have that rating.

In [198]:
! sqlite3 sakila211.db "select rating, count(*) from film group by rating;"

G|178
NC-17|210
PG|194
PG-13|223
R|195

## <span style="color:teal">Part 2: &nbsp; Joins</span>

The following queries all require a join of two or more tables. As a hint for how to create the query the table names are shown next to each a question.

(11) What are the film IDs of movies starring Jude Cruise?  &nbsp; &nbsp; [`actor`, `film_actor`]

In [199]:
! sqlite3 sakila211.db "select film_id from actor inner join film_actor on film_actor.actor_id = actor.actor_id where first_name = 'Jude' and last_name = 'Cruise'"

16
34
101
114
122
134
144
153
192
213
258
267
317
340
393
437
447
502
592
605
637
685
707
714
717
737
767
852
891
918

(12) What language was “Ace Goldfinger” filmed in?  &nbsp; &nbsp; [`film`, `language`]

In [200]:
! sqlite3 sakila211.db "select name from film inner join language on film.language_id = language.language_id where title = 'Ace Goldfinger'"

Japanese

(13) How many actors starred in the film named “Scalawag Duck”? &nbsp; &nbsp; [`film`, `film_actor`]

In [201]:
! sqlite3 sakila211.db "select count(actor_id) from film_actor inner join film on film.film_id = film_actor.film_id where title = 'Scalawag Duck'"

5

(14) Produce a table that shows how many films each customer has rented.  &nbsp; &nbsp; [`customer`, `rental`]

In [202]:
! sqlite3 sakila211.db "select first_name, last_name, count(first_name) from customer inner join rental on customer.customer_id = rental.customer_id group by first_name"

Aaron|Selby|24
Adam|Gooch|22
Adrian|Clary|18
Agnes|Bishop|23
Alan|Kahn|26
Albert|Crouse|22
Alberto|Henning|20
Alex|Gresham|33
Alexander|Fennell|36
Alfred|Casillas|26
Alfredo|Mcadams|20
Alice|Stewart|33
Alicia|Mills|20
Allan|Cornish|18
Allen|Butterfield|20
Allison|Stanley|25
Alma|Austin|35
Alvin|Deloach|29
Amanda|Carter|27
Amber|Dixon|27
Amy|Lopez|29
Ana|Bradley|33
Andre|Rapp|28
Andrea|Henderson|22
Andrew|Purdy|27
Andy|Vanhorn|24
Angel|Barclay|32
Angela|Hernandez|35
Anita|Morales|15
Ann|Evans|17
Anna|Hill|20
Anne|Powell|23
Annette|Olson|22
Annie|Russell|18
Anthony|Schwab|20
Antonio|Meek|16
April|Burns|25
Arlene|Harvey|26
Armando|Gruber|21
Arnold|Havens|33
Arthur|Simpkins|32
Ashley|Richardson|25
Audrey|Ray|29
Austin|Cintron|19
Barbara|Jones|22
Barry|Lovelace|32
Beatrice|Arnold|26
Becky|Miles|28
Ben|Easter|26
Benjamin|Varney|23
Bernard|Colby|21
Bernice|Willis|33
Bertha|Ferguson|25
Bessie|Morrison|28
Beth|Franklin|24
Betty|White|27
Beverly|Brooks|23
Bill|Gavin|26
Billie|Horton|26
Billy|Poulin|35
Bob|Pfeiffer|24
Bobbie|Craig|24
Bobby|Boudreau|35
Bonnie|Hughes|21
Brad|Mccurdy|25
Bradley|Motley|27
Brandon|Huey|36
Brandy|Graves|28
Brenda|Wright|26
Brent|Harkins|22
Brett|Cornwell|34
Brian|Wyman|12
Brittany|Riley|28
Bruce|Schwarz|23
Bryan|Hardison|28
Byron|Box|29
Calvin|Martel|23
Carl|Artis|23
Carla|Gutierrez|26
Carlos|Coughlin|23
Carmen|Owens|25
Carol|Garcia|22
Carole|Barnett|30
Caroline|Bowman|15
Carolyn|Perez|28
Carrie|Porter|34
Casey|Mena|34
Cassandra|Walters|28
Catherine|Campbell|34
Cathy|Spencer|27
Cecil|Vines|25
Chad|Carbone|25
Charlene|Alvarez|27
Charles|Kowalski|32
Charlie|Bess|25
Charlotte|Hunter|24
Cheryl|Murphy|27
Chester|Benner|24
Chris|Brothers|21
Christian|Jung|23
Christina|Ramirez|18
Christine|Roberts|22
Christopher|Greco|31
Christy|Vargas|31
Cindy|Fisher|29
Clara|Shaw|42
Clarence|Gamez|30
Claude|Herzog|25
Claudia|Fuller|25
Clayton|Barbee|26
Clifford|Bowens|29
Clifton|Malcolm|27
Clinton|Buford|24
Clyde|Tobias|29
Cody|Nolen|22
Colleen|Burton|23
Connie|Wallace|23
Constance|Reid|25
Corey|Hauser|22
Cory|Meehan|23
Courtney|Day|31
Craig|Morrell|29
Crystal|Ford|33
Curtis|Irby|37
Cynthia|Young|31
Daisy|Bates|37
Dale|Ratcliff|27
Dan|Paine|22
Dana|Hart|29
Daniel|Cabral|20
Danielle|Daniels|25
Danny|Isom|21
Darlene|Rose|31
Darrell|Power|25
Darren|Windham|24
Darryl|Ashcraft|22
Daryl|Larue|26
Dave|Gardiner|32
David|Royal|26
Dawn|Sullivan|26
Dean|Sauer|27
Deanna|Byrd|26
Debbie|Reyes|32
Deborah|Walker|29
Debra|Nelson|29
Delores|Hansen|21
Denise|Kelly|27
Dennis|Gilman|28
Derek|Blakely|28
Derrick|Bourque|21
Diana|Alexander|27
Diane|Collins|35
Dianne|Shelton|30
Dolores|Wagner|26
Don|Bone|25
Donald|Mahon|23
Donna|Thompson|21
Dora|Medina|23
Doris|Reed|22
Dorothy|Taylor|25
Douglas|Graf|25
Duane|Tubbs|31
Dustin|Gillette|25
Dwayne|Olvera|21
Dwight|Lombardi|17
Earl|Shanks|27
Eddie|Tomlin|27
Edgar|Rhoads|25
Edith|Mcdonald|19
Edna|West|26
Eduardo|Hiatt|27
Edward|Baugh|27
Edwin|Burk|23
Eileen|Carr|18
Elaine|Stevens|24
Eleanor|Hunt|46
Elizabeth|Brown|37
Ella|Oliver|31
Ellen|Simpson|28
Elmer|Noe|24
Elsie|Kelley|37
Emily|Diaz|23
Emma|Boyd|23
Enrique|Forsythe|27
Eric|Robert|27
Erica|Matthews|22
Erik|Guillen|29
Erika|Pena|26
Erin|Dunn|27
Ernest|Stepp|25
Esther|Crawford|28
Ethel|Webb|32
Eugene|Culpepper|19
Eva|Ramos|18
Evelyn|Morgan|28
Everett|Banda|28
Felicia|Sutton|28
Felix|Gaffney|23
Fernando|Churchill|25
Florence|Woods|28
Floyd|Gandy|17
Frances|Parker|22
Francis|Sikes|26
Francisco|Skidmore|22
Frank|Waggoner|32
Franklin|Troutman|22
Fred|Wheat|24
Freddie|Duggan|24
Frederick|Isbell|21
Gabriel|Harder|26
Gail|Knight|23
Gary|Coy|24
Gene|Sanborn|27
George|Linton|33
Georgia|Jacobs|26
Gerald|Fultz|30
Geraldine|Perkins|30
Gertrude|Castillo|34
Gilbert|Sledge|27
Gina|Williamson|27
Gladys|Hamilton|31
Glen|Talbert|26
Glenda|Frazier|32
Glenn|Pullen|23
Gloria|Cook|29
Gordon|Allard|32
Grace|Ellis|32
Greg|Robins|29
Gregory|Mauldin|22
Guy|Brownlee|31
Gwendolyn|May|24
Harold|Martino|32
Harry|Arce|35
Harvey|Guajardo|22
Hazel|Warren|34
Heather|Morris|28
Hector|Poindexter|26
Heidi|Larson|34
Helen|Harris|30
Henry|Billingsley|18
Herbert|Kruger|20
Herman|Devore|29
Hilda|Hopkins|28
Holly|Fox|30
Howard|Fortner|26
Hugh|Waldrop|21
Ian|Still|26
Ida|Andrews|23
Irene|Price|23
Irma|Pearson|18
Isaac|Oglesby|29
Ivan|Cromwell|25
Jack|Foust|24
Jackie|Lynch|25
Jacob|Lance|21
Jacqueline|Long|33
Jaime|Nettles|29
James|Gannon|30
Jamie|Waugh|54
Jane|Bennett|28
Janet|Phillips|27
Janice|Ward|34
Jared|Ely|19
Jason|Morrissey|28
Javier|Elrod|32
Jay|Robb|25
Jean|Bell|26
Jeanette|Greene|19
Jeanne|Lawson|26
Jeff|East|30
Jeffery|Pinson|31
Jeffrey|Spear|23
Jennie|Terry|29
Jennifer|Davis|28
Jenny|Castro|26
Jeremy|Hurtado|27
Jerome|Kenyon|16
Jerry|Jordon|28
Jesse|Schilling|26
Jessica|Hall|34
Jessie|Milam|57
Jesus|Mccartney|24
Jill|Hawkins|21
Jim|Rea|33
Jimmie|Eggleston|28
Jimmy|Schrader|29
Jo|Fowler|20
Joan|Cooper|23
Joann|Gardner|16
Joanne|Robertson|34
Joe|Gilliland|28
Joel|Francisco|22
John|Farnsworth|30
Johnnie|Chisholm|24
Johnny|Turpin|19
Jon|Wiles|24
Jonathan|Scarborough|18
Jordan|Archuleta|28
Jorge|Olivares|34
Jose|Andrew|25
Joseph|Joy|30
Josephine|Gomez|26
Joshua|Mark|29
Joy|George|33
Joyce|Edwards|28
Juan|Fraley|23
Juanita|Mason|29
Judith|Cox|32
Judy|Gray|24
Julia|Flores|32
Julian|Vest|28
Julie|Sanchez|28
Julio|Noland|21
June|Carroll|37
Justin|Ngo|34
Karen|Jackson|27
Karl|Seal|45
Katherine|Rivera|14
Kathleen|Adams|27
Kathryn|Coleman|26
Kathy|James|30
Katie|Elliott|24
Kay|Caldwell|20
Keith|Rico|26
Kelly|Knott|47
Ken|Prewitt|29
Kenneth|Gooden|16
Kent|Arsenault|27
Kevin|Schuler|22
Kim|Cruz|21
Kimberly|Lee|25
Kirk|Stclair|19
Kristen|Chavez|18
Kristin|Johnston|30
Kristina|Chambers|28
Kurt|Emmons|23
Kyle|Spurlock|29
Lance|Pemberton|22
Larry|Thrasher|25
Laura|Rodriguez|21
Lauren|Hudson|19
Laurie|Lawrence|22
Lawrence|Lawton|29
Leah|Curtis|25
Lee|Hawks|26
Lena|Jensen|32
Leo|Ebert|23
Leon|Bostic|25
Leona|Obrien|14
Leonard|Schofield|31
Leroy|Bustamante|32
Leslie|Seward|57
Lester|Kraus|16
Lewis|Lyman|19
Lillian|Griffin|25
Lillie|Kim|23
Linda|Williams|26
Lisa|Anderson|23
Lloyd|Dowd|19
Lois|Butler|34
Lonnie|Tirado|18
Loretta|Carpenter|22
Lori|Wood|31
Lorraine|Stephens|21
Louis|Leone|34
Louise|Jenkins|24
Lucille|Holmes|28
Lucy|Wheeler|24
Luis|Yanez|20
Lydia|Burke|24
Lynn|Payne|28
Mabel|Holland|30
Mae|Fletcher|31
Manuel|Murrell|30
Marc|Outlaw|30
Marcia|Dean|41
Marcus|Hidalgo|30
Margaret|Moore|22
Margie|Wade|34
Maria|Miller|33
Marian|Mendoza|23
Marie|Turner|25
Marilyn|Ross|29
Mario|Cheatham|27
Marion|Ocampo|67
Marjorie|Tucker|32
Mark|Rinehart|26
Marlene|Welch|26
Marsha|Douglas|37
Marshall|Thorn|23
Martha|Gonzalez|34
Martin|Bales|27
Marvin|Yee|21
Mary|Smith|32
Mathew|Bolin|22
Matthew|Mahan|31
Mattie|Hoffman|21
Maureen|Little|21
Maurice|Crawley|29
Max|Pitt|24
Maxine|Silva|32
Megan|Palmer|27
Melanie|Armstrong|24
Melinda|Fernandez|17
Melissa|King|34
Melvin|Ellington|25
Michael|Silverman|29
Micheal|Forman|26
Michele|Grant|30
Michelle|Clark|34
Miguel|Betancourt|27
Mike|Way|35
Mildred|Bailey|23
Milton|Howland|24
Minnie|Romero|34
Miriam|Mckinney|26
Misty|Lambert|27
Mitchell|Westmoreland|32
Monica|Hicks|30
Morris|Mccarter|32
Myrtle|Fleming|24
Nancy|Thomas|28
Naomi|Jennings|34
Natalie|Meyer|21
Nathan|Runyon|32
Nathaniel|Adam|28
Neil|Renner|31
Nellie|Garrett|21
Nelson|Christenson|20
Nicholas|Barfield|32
Nicole|Peterson|22
Nina|Soto|29
Nora|Herrera|28
Norma|Gonzales|20
Norman|Currier|25
Olga|Jimenez|32
Oscar|Aquino|20
Pamela|Baker|23
Patricia|Johnson|27
Patrick|Newsom|31
Patsy|Davidson|28
Paul|Trout|23
Paula|Bryant|18
Pauline|Henry|27
Pearl|Garza|22
Pedro|Chestnut|24
Peggy|Myers|23
Penny|Neal|18
Perry|Swafford|23
Peter|Menard|23
Philip|Causey|31
Phillip|Holm|26
Phyllis|Foster|23
Priscilla|Lowe|35
Rachel|Barnes|22
Rafael|Abney|20
Ralph|Madrigal|34
Ramon|Choate|31
Ramona|Hale|29
Randall|Neumann|23
Randy|Gaither|28
Raul|Fortier|20
Ray|Houle|22
Raymond|Mcwhorter|29
Rebecca|Scott|24
Regina|Berry|33
Reginald|Kinder|28
Rene|Mcalister|26
Renee|Lane|26
Rhonda|Kennedy|39
Ricardo|Meador|21
Richard|Mccrary|25
Rick|Mattox|27
Ricky|Shelby|25
Rita|Graham|24
Robert|Baughman|21
Roberta|Harper|23
Roberto|Vu|30
Robin|Hayes|23
Rodney|Moeller|23
Roger|Quintanilla|36
Roland|South|22
Ron|Deluca|23
Ronald|Weiner|30
Ronnie|Ricketts|25
Rosa|Reynolds|30
Rose|Howard|22
Rosemary|Schmidt|35
Ross|Grey|27
Roy|Whiting|29
Ruben|Geary|21
Ruby|Washington|28
Russell|Brinson|36
Ruth|Martinez|24
Ryan|Salisbury|30
Sally|Pierce|32
Salvador|Teel|30
Sam|Mcduffie|24
Samantha|Duncan|23
Samuel|Marlow|21
Sandra|Martin|28
Sara|Perry|33
Sarah|Lewis|29
Scott|Shelley|24
Sean|Douglass|23
Sergio|Stanfield|25
Seth|Hannon|24
Shane|Millard|22
Shannon|Freeman|24
Sharon|Robinson|30
Shawn|Heaton|33
Sheila|Wells|18
Shelly|Watts|26
Sherri|Rhodes|33
Sherry|Marshall|34
Shirley|Allen|31
Sidney|Burleson|25
Sonia|Gregory|26
Stacey|Montgomery|33
Stacy|Cunningham|22
Stanley|Scroggins|30
Stella|Moreno|22
Stephanie|Mitchell|24
Stephen|Qualls|28
Steve|Mackenzie|34
Steven|Curley|29
Sue|Peters|40
Susan|Wilson|24
Suzanne|Nichols|24
Sylvia|Ortiz|31
Tamara|Nguyen|24
Tammy|Sanders|38
Tanya|Gilbert|33
Tara|Ryan|20
Ted|Breaux|29
Teresa|Rogers|29
Terrance|Roush|28
Terrence|Gunderson|30
Terri|Vasquez|27
Terry|Grissom|48
Thelma|Murray|32
Theodore|Culp|31
Theresa|Watson|30
Thomas|Grigsby|25
Tiffany|Jordan|14
Tim|Cary|39
Timothy|Bunn|22
Tina|Simmons|28
Todd|Tan|29
Tom|Milner|31
Tommy|Collazo|38
Toni|Holt|23
Tony|Carranza|21
Tonya|Chapman|32
Tracey|Barrett|27
Tracy|Herrmann|57
Travis|Estep|24
Troy|Quigley|30
Tyler|Wren|20
Tyrone|Asher|24
Valerie|Black|26
Vanessa|Sims|19
Velma|Lucas|27
Vera|Mccoy|18
Vernon|Chapa|18
Veronica|Stone|32
Vicki|Fields|25
Vickie|Brewer|30
Victor|Barkley|24
Victoria|Gibson|27
Vincent|Ralston|25
Viola|Hanson|31
Violet|Rodriquez|30
Virgil|Wofford|27
Virginia|Green|32
Vivian|Ruiz|23
Wade|Delvalle|22
Wallace|Slone|25
Walter|Perryman|30
Wanda|Patterson|29
Warren|Sherrod|33
Wayne|Truong|19
Wendy|Harrison|29
Wesley|Bull|40
Willard|Lumpkin|22
William|Satterfield|26
Willie|Markham|49
Wilma|Richards|20
Yolanda|Weaver|26
Yvonne|Watkins|21
Zachary|Hite|30

(15) How many films did the customer named Smith rent?  &nbsp; &nbsp; [`customer`, `rental`]

In [203]:
! sqlite3 sakila211.db "select count(*) from customer inner join rental on customer.customer_id = rental.customer_id where last_name = 'Smith'"

32

(16) Which actors starred in “Splash Gump”?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [204]:
! sqlite3 sakila211.db "select first_name, last_name from film inner join film_actor on film_actor.film_id = film.film_id inner join actor on actor.actor_id = film_actor.actor_id where title = 'Splash Gump'"

Penelope|Guiness
Jennifer|Davis
Uma|Wood
Cameron|Streep
Christian|Neeson
Ray|Johansson
Gene|Willis
Morgan|Williams
Humphrey|Willis
Al|Garland

(17) Which films has Penelope Guiness starred in?  &nbsp; &nbsp; [`film`, `film_actor`, `actor`]

In [205]:
! sqlite3 sakila211.db "select title from film inner join film_actor on film_actor.film_id = film.film_id inner join actor on actor.actor_id = film_actor.actor_id where first_name = 'Penelope' and last_name = 'Guiness'"

Academy Dinosaur
Anaconda Confessions
Angels Life
Bulworth Commandments
Cheaper Clyde
Color Philadelphia
Elephant Trojan
Gleaming Jawbreaker
Human Graffiti
King Evolution
Lady Stage
Language Cowboy
Mulholland Beast
Oklahoma Jumanji
Rules Human
Splash Gump
Vertigo Northwest
Westward Seabiscuit
Wizard Coldblooded

(18) What are the names of the films rented by the customer named Knight?  &nbsp; &nbsp; [`customer`, `rental`, `inventory`, `film`]

In [206]:
! sqlite3 sakila211.db "select title from film inner join inventory on inventory.film_id = film.film_id inner join rental on rental.inventory_id = inventory.inventory_id inner join customer on customer.customer_id = rental.customer_id where last_name = 'Knight'"

Jericho Mulan
Frost Head
Clerks Angels
Wife Turn
Expecations Natural
Lawless Vision
Soup Wisdom
Heartbreakers Bright
Bikini Borrowers
Attacks Hate
Cupboard Sinners
Princess Giant
Cyclone Family
Platoon Instinct
Knock Warlock
Excitement Eve
Right Cranes
Fatal Haunted
Falcon Volume
Tomorrow Hustler
Half Outfield
Horror Reign
Borrowers Bedazzled

## <span style="color:teal">Part 3: &nbsp; Monthly Report</span>

For this part of the project you will write a report generator that will print a summary of monthly activity for a customer.  The report should show a list of all the films rented during the month along with a total amount due.
This example shows the activity for the customer named Leo Ebert for the month of June, 2005.

<pre>
--- Sakila DVD Rentals ---

Monthly Report for Leo Ebert 

Lonely Elephant                 06/16/2005    $2.99
                   ** late fee  06/24/2005    $2.99
Enemy Odds                      06/18/2005    $4.99
                   ** late fee  06/27/2005    $4.99
Song Hedwig                     06/20/2005    $0.99
                   ** late fee  06/26/2005    $0.99
Wash Heavenly                   06/21/2005    $4.99
Hurricane Affair                06/21/2005    $2.99

Monthly Total:  $25.92
</pre>

To compute the total, the report generator needs to add up all the rental fees, and for any film returned late, add an additional rental fee as the late charge. In the example, Leo rented *Lonely Elephant* on June 16 but didn’t return it until June 24. It was a 3-day rental, so he was charged an additional \$2.99 (it was 5 days late, so we could have charged him \$4.98 in late fees, but we’ll keep it simple and just charge the basic fee as the late fee).

We've broken the problem into separate parts so they can be implemented and tested separately.  Your job is to fill in the code cells so each part passes the auto-grader tests.

**Note:** &nbsp; There is no documentation requirement for this project.

### <span style="color:teal">Database Connection</span>

To simplify the code for this program you can define the database connection as a global variable.  The following code cell imports the libraries you need and defines the database connection.

In [207]:
from sqlite3 import connect
x = ! sqlite3 sakila211.db ""
db = connect('sakila211.db')

### <span style="color:teal">Dates</span>

Dates in a SQLite database are stored as strings.  The function below uses a Python library named `datetime` to parse a date string and return a string that can be printed as part of the report.  Read the online documentation for the `datetime` module if you want to learn more about date formats and functions that parse and format dates.

**Note:** &nbsp; The format string is a global variable -- you can use this same format in your function that checks to see if a CD is overdue.

In [208]:
from datetime import datetime

date_format = "%Y-%m-%d %H:%M:%S.%f"

def mmddyyyy(date):
    d = datetime.strptime(date, date_format)
    return '{:02d}/{:02d}/{:02d}'.format(d.month, d.day, d.year)

In [209]:
assert mmddyyyy('2005-02-26 20:59:35.000') == '02/26/2005'

### <span style="color:teal">Customer Name</span>

Fill in the definition of the `customer_name` function.  It will be passed a string with a last name, and it should return a list of tuples of the form `(first, last)` with the first and last names of all customers with the same last name.  If there are no customers with that name the list should be empty.

In [210]:
def customer_names(s):
    query= 'SELECT first_name, last_name FROM customer WHERE last_name = ?'
    result = db.execute(query, [s.title()])
    return [tup for tup in result]

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [211]:
assert customer_names('ebert') == [('Leo', 'Ebert')]

In [212]:
assert customer_names('smith') == [('Mary', 'Smith')]

In [213]:
assert customer_names('turing') == []

### <span style="color:teal">Film List</span>

Fill in the body of the `film_list` function so it returns a list of all CDs rented by a customer during a specified month. 
The parameters that will be passed to the function are the customer's last name (a string) and the month and year (both integers).  Return a list of tuples that have the following values, in the order shown:
* film title
* rental rate (how much it costs to rent the CD)
* rental date (the date the CD was rented)
* return date (the date the CD was returned)
* rental duration (the number of days the CD can be out before a late fee is charged) 

All of the information you need can be retrieved with a single query that joins the rental, inventory, film, and customer tables. Note that this is the same query used to answer Question 19 above, except with different column names.

**Hint:** &nbsp; The dates in the database are strings.  Think about pattern matching when you write the WHERE clause that specifies the date range.

In [214]:
def film_list(name, month, year):
    start_month=(str(year)+"-"+'{:02}'.format(month)+"-01"+" 00:00:00.000")
    end_month=(str(year)+"-"+'{:02}'.format(month)+"-32"+" 00:00:00.000")
    
    query="SELECT first_name, last_name, title, rental_rate, rental_date, return_date, rental_duration FROM customer JOIN rental USING (customer_id) JOIN inventory USING (inventory_id) JOIN film USING (film_id) WHERE last_name = ? AND rental_date BETWEEN ? AND ?"
    result = db.execute(query, [name.title(),start_month,end_month])
    
    return [(tup[2:7]) for tup in result]

##### <span style="color:red">Autograder Tests:</span>

**Do not edit, copy, or delete these cells.**

In [215]:
leo = film_list('Ebert', 6, 2005)
assert len(leo) == 5
assert leo[0] == ('Lonely Elephant', 2.99, '2005-06-16 20:59:35.000', '2005-06-24 15:31:35.000', 3)

In [216]:
mary = film_list('Smith', 8, 2005)
assert len(mary) == 11
assert mary[0] == ('Adaptation Holes', 2.99, '2005-08-01 08:51:04.000', '2005-08-10 12:12:04.000', 7)

### <span style="color:teal">Overdue CDs</span>

To decide whether a CD was returned late you need to subtract the rental date from the return date and see if the difference is greater than the rental duration. The easiest way to do this is to use Python’s `datetime` library.

Using a call to `strptime` (see the body of the `mmddyyyy` function defined above) create `datetime` objects for the rental date and the return date. Then subtract the rental date from the return date to get a `timedelta` object:
```
    diff = returned - rented
```
Now you can get attributes of the object named `diff` to tell you how far apart the dates were, for example `diff.days` will tell you the time difference in days.

Fill in the body of the `overdue` function.  The parameters are a rental date, a return date, and the rental duration.  Return TRUE if the CD was not returned or if the number of days it was checked out is greater than the rental duration.

In [217]:
def overdue(rent_date, return_date, duration):
    date_format = "%Y-%m-%d %H:%M:%S.%f"
    d1 = datetime.strptime(rent_date, date_format)
    d2 = datetime.strptime(return_date, date_format)
    diff = d2-d1
    if diff.days>duration:
        return True
    else:
        return False

In [218]:
assert overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:35.000', 2)

In [219]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-17 20:59:35.000', 2)

In [220]:
assert not overdue('2005-06-16 20:59:35.000', '2005-06-19 20:59:34.000', 2)

### <span style="color:teal">Report Generator</span>

Fill in the body of the function named `sakila_report` so it prints a monthly report.  The arguments passed to the function will be a customer's last name (a string) and a month and year (both integers).

If the customer is not in the database, or if there are two customers with the same last name, return None.  Otherwise print a list of films and late fees and the total amount due.

You can format the report however you would like, as long as the following items appear somewhere in the output:
* every fee should be printed with a dollar sign and an amount, for example `$2.99` or `$25.92`
* the total amound due should be printed on a line that includes the word `"Total"` followed by a dollar amount on the same line

In [221]:
def sakila_report(customer, month, year):
    total= 0
    start_month=(str(year)+"-"+'{:02}'.format(month)+"-01"+" 00:00:00.000")
    end_month=(str(year)+"-"+'{:02}'.format(month)+"-32"+" 00:00:00.000")
    
    query="SELECT first_name, last_name, title, rental_rate, rental_date, return_date, rental_duration FROM customer JOIN rental USING (customer_id) JOIN inventory USING (inventory_id) JOIN film USING (film_id) WHERE last_name = ? AND rental_date BETWEEN ? AND ?"
    result = db.execute(query, [customer.title(),start_month,end_month])
    
    customer_info =[tup for tup in result]
    
    if customer_info==[]:
        return None
    
    first_name = customer_info[0][0]
    
    for tup in customer_info:
        if tup[0] != first_name:
            return None
    print("--- Sakila DVD Rentals ---")
    print("Monthly Report for Customer"+"\n")
    for tup in customer_info:
        total += tup[3]
        print(tup[2], ': $' + str(tup[3]))
        if (overdue(tup[4], tup[5], tup[6])) == True:
            total += tup[3]
            print('*Late Fee*:', '$' + str(tup[3])) 
    print("")
    print('Monthly Total: $' + str(round(total,2)))

##### <span style="color:red">Tests</span>

You can use code cells in this section (and add more if you wish) to test your functions.

In [230]:
sakila_report('Ebert', 6, 2005)

--- Sakila DVD Rentals ---
Monthly Report for Customer

Lonely Elephant : $2.99
*Late Fee*: $2.99
Enemy Odds : $4.99
*Late Fee*: $4.99
Song Hedwig : $0.99
*Late Fee*: $0.99
Wash Heavenly : $4.99
Hurricane Affair : $2.99

Monthly Total: $25.92

##### <span style="color:red">Autograder Tests</span>

The tests for the `sakila_report` function will call the function and while using the IPython `capture` command to save everything the function prints.  We'll then use a function that counts the number of times a dollar amount (from either a rental fee or a late fee) occurs and make sure the total amount is the expected value.

**Do not edit, copy, or delete these cells.**

In [231]:
import re

def check_report(text, expected_count, expected_total):
    nums = []
    for line in text.split('\n'):
        has_total = re.search(r'Total.*(\$\d+\.\d\d)', line)
        if has_total:
            assert has_total.group(1) == expected_total
        else:
            for s in re.findall(r'\$\d+\.\d\d', line):
                nums.append(s)
    assert(len(nums) == expected_count)
    total = 0.0
    for s in nums:
        total += float(s[1:])
    assert(round(total,2)) == round(float(expected_total[1:]), 2)
    return True

In [232]:
%%capture res
sakila_report('Ebert', 6, 2005)

In [233]:
assert check_report(res.stdout, 8, '$25.92')

In [234]:
%%capture res
sakila_report('Smith', 8, 2005)

In [235]:
assert check_report(res.stdout, 15, '$32.85')

In [236]:
%%capture res
sakila_report('Turing', 6, 2005)

In [237]:
assert len(res.stdout) == 0

In [238]:
sakila_report('Ebert', 6, 2005)

--- Sakila DVD Rentals ---
Monthly Report for Customer

Lonely Elephant : $2.99
*Late Fee*: $2.99
Enemy Odds : $4.99
*Late Fee*: $4.99
Song Hedwig : $0.99
*Late Fee*: $0.99
Wash Heavenly : $4.99
Hurricane Affair : $2.99

Monthly Total: $25.92